.dataTable {
  text-align: center;
  width: 90%;
  margin: 2rem auto 0 auto;
  border-top: 3px black solid;
}
.pageNumber {
  background-color: rgba(0, 0, 255, 0.4);
  border-top: 2px dotted black;
  border-bottom: 2px dotted black;
}
